<div class="slider-wrapper theme-light">
	<div id="slider" class="nivoSlider">
		<div class="row" width = "700"> 
		<%= image_tag "comp1.jpg" %>
		</div>
		<div class="row" width = "700"> 
		<%= image_tag "comp2.jpg" %>
		</div>
		<div class="row" width = "700"> 
		<%= image_tag "comp3.jpg" %>
		</div>
	</div>
</div>

<h3 align="center">Current Company</h3>
<div class= "row">
	<div class =  "span4">
		<h4> Soprano </h4>
		<% @singers.each do |singer| %>
		<% if singer.voicepart == "Soprano" && singer.status == "Performing"%>
		<p>
			<%= singer.name + " " + singer.lastname%>
		</p>
		<% end %>
		<% end %>
	</div>

	<div class =  "span4">
		<h4> Alto </h4>
		<% @singers.each do |singer| %>
		<% if singer.voicepart == "Alto" && singer.status == "Performing" %>
		<p>
			<%= singer.name + " " + singer.lastname%>
		</p>
		<% end %>
		<% end %>
	</div>

	<div class =  "span4">
		<h4> Tenor </h4>
		<% @singers.each do |singer| %>
		<% if singer.voicepart == "Tenor" && singer.status == "Performing"%>
		<p>
			<%= singer.name + " " + singer.lastname%>
		</p>
		<% end %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class =  "span4">
		<h4> Bass </h4>
		<% @singers.each do |singer| %>
		<% if singer.voicepart == "Bass" && singer.status == "Performing"%>
		<p>
			<%= singer.name + " " + singer.lastname%>
		</p>
		<% end %>
		<% end %>
	</div>

	<div class =  "span4">
		<h4> Tech </h4>
		<% @singers.each do |singer| %>
		<% if singer.status == "Tech" %>
		<p>
			<%= singer.name + " " + singer.lastname%>
		</p>
		<% end %>
		<% end %>
	</div>

	<div class =  "span4">
		<h4> P-Tech </h4>
		<% @singers.each do |singer| %>
		<% if singer.status == "Ptech" %>
		<p>
			<%= singer.name + " " + singer.lastname%>
		</p>
		<% end %>
		<% end %>
	</div>
</div>
