<div class="slider-wrapper theme-light">
	<div id="slider" class="nivoSlider">
		<div class="row" width = "700"> 
		<%= image_tag "slide1.jpg" %>
		</div>
		<div class="row">
			<%= image_tag "slide4.jpg" %>
		</div>
		<div class="row">
			<%= image_tag "slide3.jpg" %>
		</div>
	</div>
</div>

<table class="table table-striped">

<% @posts.each do |post| %>
     <tr> <td><h3><%= post.title %></h3></td> </tr>
    <tr><td><p><%= simple_format(post.body) %></p></td></tr>
<% end %>
</table>

<br />