<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
	<h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>

	<ul>
		<% @post.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class = "container-fluid">
	<div class="row">
		<%= f.label :title %>

		<%= f.text_field :title, :class=>"row-fluid"%>
	</div>
	<div class="row">
		<%= f.label :body %>

		<%= f.text_area :body, :class=>"row-fluid" %>
	</div>
	<div class="row">
		<div class = "actions">
			<%= f.submit 'Submit', :class =>"btn" %>

		</div>
	</div>
</div>
<% end %>
